<template>
    <div>
        <a @click="goTo('/')">
            Home
        </a> |
        <a @click="goTo('login')">
            Login
        </a> <br>

Auth token is:
        {{this.$root.store.state.authToken}}
    </div>

</template>

<script>
    export default {
        name: 'Dashboard',
        methods: {
            goTo: function (go_to) {
                this.$router.push(go_to);
            }
        },
        data() {
            return {}
        }
    }
</script>