<template>
    <div>
        <h2>Forgot Password</h2>
        <form @submit.prevent="handleSubmit">
            <div v-if="errors.length">
                <b>Пожалуйста исправьте указанные ошибки:</b>
                <ul>
                    <li v-for="error in errors">{{ error }}</li>
                </ul>
            </div>
            <div class="form-group">
                {{msg}}
            </div>
            <div class="form-group">
                <label>E-mail</label>
                <input type="text" v-model="email" name="email" class="form-control" />
            </div>
            <div class="form-group">
                <button class="btn btn-primary">Submit</button><br>
            </div>
        </form>
    </div>
</template>
<script>
    export default {
        name: 'ForgotPass',
        methods: {
            goTo: function (go_to) {
                this.$router.push(go_to);
            },
            handleSubmit (e) {
                const { email } = this;
                let has_error = false;
                has_error = this.checkForm(email);
                if (has_error)
                    return;
                let authUser = this.$root.carvan.forgotpass(email)
                    .then((response) => {
                        if (this.$root.store.authError) {
                            this.errors.push(this.$root.store.authError);
                        } else {
                            this.msg = 'We have sent recovery details to your e-mail adress';
                        }
                    });
            },
            checkForm: function (email) {

                this.errors = [];

                if (!email) {
                    this.errors.push('Please insert mail.');
                }else if (!this.validEmail(email)) {
                    this.errors.push("Not valid email.");
                }

                return this.errors.length;
            },
            validEmail: function (email) {
                var re = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
                return re.test(email);
            }
        },
        data() {
            return {
                errors: [],
                email: '',
                msg: ''
            }
        }
    }
</script>