<template>
    <div>
        <h2>Login</h2>
        <form @submit.prevent="handleSubmit">
            <div v-if="errors.length">
              <b>Пожалуйста исправьте указанные ошибки:</b>
              <ul>
                <li v-for="error in errors">{{ error }}</li>
              </ul>
            </div>
            <div class="form-group">
                <label>E-mail</label>
                <input type="text" v-model="username" name="username" class="form-control" />
            </div>
            <div class="form-group">
                <label>Password</label>
                <input :type="type" v-model="password" name="password" class="form-control" />
                <a @click="showPassword">{{ btnText }}</a>
            </div>
            <div class="form-group">
                <button class="btn btn-primary">Login</button><br>
                <router-link to="/register" class="btn btn-link">Register</router-link>
                <router-link to="/lostpassword" class="btn btn-link">Lost password?</router-link>
            </div>
        </form>
    </div>
</template>

<script>
    export default {
        name: 'Login',
        methods: {
            goTo: function (go_to) {
                console.log(go_to);
                this.$router.push(go_to);
            },
            handleSubmit (e) {
                const { username, password } = this;
                let has_error = false;
                has_error = this.checkForm(username, password);
                if (has_error)
                  return;
                let authUser = this.$root.carvan.auth(username, password)
                .then((response) => {
                    if (this.$root.store.authError) {
                        this.errors.push(this.$root.store.authError);
                    } else {
                        this.goTo('dashboard');
                    }
                });
            },

            checkForm: function (email, password) {

              this.errors = [];

              if (!email) {
                this.errors.push('Please insert mail.');
              }else if (!this.validEmail(email)) {
                this.errors.push("Not valid email.");
              }
              if (!password) {
                this.errors.push('Please insert password.');
              }


              return this.errors.length;
            },
            validEmail: function (email) {
              var re = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
              return re.test(email);
            },
            showPassword: function () {
                if(this.type === 'password') {
                    this.type = 'text'
                    this.btnText = 'Hide Password'
                } else {
                    this.type = 'password'
                    this.btnText = 'Show Password'
                }
            }
        },
        data () {
            return {
              errors: [],
              username: '',
              password: '',
              token: '',
              type: 'password',
              btnText: 'Show Password'
            }
        }
    }
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
    h1, h2 {
        font-weight: normal;
    }
    ul {
        list-style-type: none;
        padding: 0;
    }
    li {
        display: inline-block;
        margin: 0 10px;
    }
    a {
        color: #42b983;
    }
</style>
