<template>
    <div>

        <a @click="goTo('/')">
            Home
        </a> |
        <a @click="goTo('/login')">
            Login
        </a> <br>

        <h2>Recovery </h2>
        <div class="form-group">
            {{msg}}
        </div>
        <form v-show="recoveryTokenStatus" @submit.prevent="handleSubmit">
            <div v-if="errors.length">
                <b>Пожалуйста исправьте указанные ошибки:</b>
                <ul>
                    <li v-for="error in errors">{{ error }}</li>
                </ul>
            </div>

            <div class="form-group">
                <label>New password</label>
                <input type="password" v-model="password" name="password" class="form-control" />
            </div>
            <div class="form-group">
                <label>Repeat password</label>
                <input type="password" v-model="repassword" name="repassword" class="form-control" />
            </div>
            <div class="form-group">
                <button class="btn btn-primary">Submit</button><br>
            </div>
        </form>
    </div>
</template>
<script>
    export default {
        name: 'ForgotPass',
        mounted: function(){
          this.onLoad(this.$route.params.hash);
        },
        methods: {
            onLoad: function(hash){
                let recoveryToken = this.$root.carvan.checkRecoveryHash(this.hash)
                    .then((response) => {
                        this.recoveryTokenStatus = this.$root.store.recoveryTokenStatus;
                        if (!this.recoveryTokenStatus)
                            this.msg = "Token is not alive";
                    }).catch((error) => {
                        this.msg = "Token is not alive";
                    })

            },
            goTo: function (go_to) {
                this.$router.push(go_to);
            },
            handleSubmit (e) {
                const { password, repassword } = this;
                let has_error = false;
                has_error = this.checkForm(password, repassword);
                if (has_error)
                    return;
                let recover = this.$root.carvan.setNewPassword(password, repassword, this.hash)
                    .then((response) => {
                        if (this.$root.store.authError) {
                            this.errors.push(this.$root.store.authError);
                        } else {
                            this.msg = 'Password succesfully reseted.';
                        }
                    });
            },
            checkForm: function (password, repassword) {

                this.errors = [];

                if (password.length < 8 || password.length < 8) {
                    this.errors.push('Passwords length must be bigger than 8 letter.');
                }else if (password !== repassword) {
                    this.errors.push("Passwords did not match.");
                }

                return this.errors.length;
            }
        },
        data() {
            return {
                msg : '',
                errors: [],
                password: '',
                repassword: '',
                hash: this.$route.params.hash,
                recoveryTokenStatus: false,
            }
        }
    }
</script>